In [2]:
import pandas as pd

survey = pd.read_excel('ABE Career Outcomes Data 2016-2021.xlsx')
survey

,Degree Date,Degree Level,Major 1 at Graduation,Organization Name,Job Title,City,State
0,2016-12-01,Bachelor's,Agricultural Engineering,Double L Group,Design Engineer,Dyersville,Iowa
1,2016-12-01,Bachelor's,Agricultural Engineering,John Deere,Design Engineering Developmental Program,Waterloo,Iowa
2,2016-12-01,Bachelor's,Agricultural Engineering,John Deere,Engineer,Ankeny,Iowa
3,2016-12-01,Bachelor's,Agricultural Engineering,John Deere,Marketing Rep,Moline,Illinois
4,2016-12-01,Bachelor's,Agricultural Engineering,John Deere,Quality Engineering Development Program,Waterloo,Iowa
...,...,...,...,...,...,...,...
373,2021-05-01,Bachelor's,Biological Systems Engineering,NaN,NaN,NaN,NaN
374,2021-05-01,Bachelor's,Biological Systems Engineering,NaN,NaN,NaN,NaN
375,2021-05-01,Bachelor's,Biological Systems Engineering,NaN,NaN,NaN,NaN
376,2021-05-01,Bachelor's,Biological Systems Engineering,NaN,NaN,NaN,NaN
377,2021-05-01,Bachelor's,Biological Systems Engineering,NaN,NaN,NaN,NaN

In [4]:
survey['Organization Name'].value_counts()

John Deere                                                18
Vermeer Corporation                                       12
Cargill, Incorporated                                      8
Henning Companies LLC                                      5
Kuhn North America, Inc.                                   5
                                                          ..
Trackside Solutions                                        1
SMC Corporation                                            1
Peace Corps                                                1
Iowa State University Food Science and Human Nutrition     1
Wells Enterprises, Inc.                                    1
Name: Organization Name, Length: 100, dtype: int64

In [9]:
bse = survey[survey['Major 1 at Graduation'] == 'Biological Systems Engineering']
abe = survey[survey['Major 1 at Graduation'] == 'Agricultural Engineering']
print('TOP 10 EMPLOYERS FOR BSE AND AE \n \nBSE Common Employers:\n',bse['Organization Name'].value_counts().nlargest(10))
print('AE Common Employers: \n', abe['Organization Name'].value_counts().nlargest(10))

TOP 10 EMPLOYERS FOR BSE AND AE

BSE Common Employers:
 Cargill, Incorporated    6
Ardent Mills             2
ISG                      2
PepsiCo                  2
John Deere               2
ADM                      2
WSP                      1
Conagra Brands           1
Peace Corps              1
Trinity Consultants      1
Name: Organization Name, dtype: int64
AE Common Employers:
 John Deere                                     16
Vermeer Corporation                            12
Henning Companies LLC                           5
Kuhn North America, Inc.                        5
AGCO Corporate Group                            5
Ag Leader Technology                            4
Kent Corporation                                3
Sage Ag LLC                                     3
CNH Industrial                                  3
USDA Natural Resources Conservation Service     3
Name: Organization Name, dtype: int64

In [19]:
# Next, I isolated the most common job titles that ABE graduates have. 
# I chose the top 23 because this includes all job titles that at least 2 people acquired upon graduation. 
jtitle = survey['Job Title'].value_counts().nlargest(23).to_frame()
jtitle

                                          Job Title
Design Engineer                                  28
Project Engineer                                 10
Manufacturing Engineer                            7
Agricultural Engineer                             4
Graduate Engineer                                 4
Production Engineer                               3
Associate Engineer                                3
Plant Engineer                                    3
Mechanical Engineer                               3
Test Engineer                                     3
Management Associate                              2
Civil Engineer                                    2
Production Management Engineer                    2
Quality Engineer                                  2
Field Engineer                                    2
Leadership Development Program - Milling          2
Product Design Engineer                           2
Engineering Development Program                   2
Mechanical Design Engineer                        2
Product Engineer                                  2
EDP Engineer                                      2
Engineer                                          2
Product Evaluation Engineer                       2